
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1{ background-color: darkblue;
  color: white;
  font-weight: bold;
  text-align: center;
}

.btn {
width: 100%;
}

.form-input{
border: blue;
width: 100%;
border-radius: var(--border-radius);
padding: 3%;
margin: 5px 0;
box-shadow: cadetblue;
}

.form-label{
  font-size: 15px;
  font-weight: bold;
}

h2,
h3 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}


p {
  font-size: 1.2rem;
}

.weather{
  border: 2px solid;
}

.fiveday{
  font-size: 10px;
  color: white;
  background-color: grey;
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
}


